@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'NanumSquare', sans-serif
}

body {
    background: var(--gray50);
    overflow-x: hidden;
}

:root {
    --blk: #1a1a1a;
    --wht: #ffffff;
    --gray700: #404040;
    --gray500: #666666;
    --gray300: #a3a3a3;
    --gray100: #E5E5E5;
    --gray50: #fafafa;
    --gradient1: linear-gradient(132deg, #1987FA 0%, #10C2A0 94.35%);
    --gradient2: linear-gradient(114deg, #1987FA 15.38%, #10C2A0 84.62%);
    --gradient3: linear-gradient(293deg, #1987FA 14.88%, #10C2A0 83.04%);
    --box-shadow: 0px 3px 9px 0px rgba(37, 50, 67, 0.18), 0px 1px 1px 0px rgba(37, 50, 67, 0.03);
    --primary: #1987fa;
    --secondary: #10c2a0;
    --accent: #00c8f8;
    --banner-bg: #136dff;
    --bg-light: #f4f4f4;
    --border-radius: 8px;
    --radius-pill: 9999px;
}

.light {
    font-weight: 300
}

.normal {
    font-weight: 400
}

.bold {
    font-weight: 700
}

.bolder {
    font-weight: 800
}

header {
    width: 100%;
}

.inner {
    max-width: 1440px;
    height: 66px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
}


.gnb ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gnb ul li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;

}

.gnb ul li a {
    color: var(--blk);
    font-size: 16px;
    font-weight: bold;
}

.btns .cs {
    margin-right: 29px;
}

.hamburger-btn {
    display: none;
}
